<a href="https://colab.research.google.com/github/Kibuisue/Hesed/blob/main/Copy_of_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download & install python from here: [Python download](https://www.python.org/)

Download VsCode here [VsCode download](https://code.visualstudio.com/Download)

Anaconda [Download Anaconda](https://www.anaconda.com/download/)

Python == General purpose high level interpreted language.

An interpreter reads the source code of the program as written by the programmer, parses the source code, and interprets the instructions on the fly.

A compiler needs to be handed the entire program in a file,
and then it runs a process to translate the high-level source code into machine language and then the compiler puts the resulting machine language into a file for later execution.

Basic program constructs:
1.  Input >> Get data from the “outside world”. This might be reading data from a file, or even a sensor like a microphone or GPS.

2.  Output>> Display the results of the program on a screen or store them in a file or perhaps write them to a device.

3.  Sequential execution>> Perform statements one after another in the order they are encountered in the script.
4.  Conditional execution>> Check for certain conditions and then execute or skip a sequence of statements.
5.  Repeated execution Perform some set of statements repeatedly, usually with some variation.
6.  Reuse>> Write a set of instructions once and give them a name and then reuse those instructions as needed throughout your program.

In [ ]:
num1=9
num2=2024
print(num1+num2)

2033

In [ ]:
print("shekinah")

shekinah

In [ ]:
x="machine"+"learning"
print (x)

machinelearning

In [ ]:
x=32*2
print(x)

64

In [ ]:
name=input("")
print(name)

shekinah
shekinah

In [ ]:
type(name)

str

In [ ]:
x=15
if x%2==0:
  print("x is even")
else:
  print("x is odd")

x is odd

In [ ]:
def mysum(a,b):
  sum=a+b
  print(sum)

In [ ]:
mysum(12,13)

25

In [ ]:
x=24
while x>0:
  print(x)
  x=x-1
  print("lift off")

24
lift off
23
lift off
22
lift off
21
lift off
20
lift off
19
lift off
18
lift off
17
lift off
16
lift off
15
lift off
14
lift off
13
lift off
12
lift off
11
lift off
10
lift off
9
lift off
8
lift off
7
lift off
6
lift off
5
lift off
4
lift off
3
lift off
2
lift off
1
lift off

In [ ]:
techstack=["webdeveloper","game","android","ml"]
for stack in techstack:
  print("my techstack is",stack)

my techstack is webdeveloper
my techstack is game
my techstack is android
my techstack is ml

In [ ]:
num1 = 23
num2 = 68
print (num1 + num2)

91

### What we will cover:

1.   Install Python and say "Hello World"
2.   Describe basics of python programming language
3.   Use variables to store, retrieve and calculate information
4.   Utilize programming tools: functions and loops
5.   Lists, Dictionaries and tuples


This material is based on [Python for Everyone book ](https://www.py4e.com/)

Python Syntax

1.  Syntax errors:  A syntax error means that you have violated the “grammar” rules of Python.

2.  Logic errors: A logic error is when your program has good syntax but there is a mistake in the order of the statements or perhaps a mistake in how the statements relate to one another.

3.  Semantic errors: A semantic error is when your description of the steps to take is syntactically perfect and in the right order, but there is simply a mistake in the program. The program is perfectly correct but it does not do what you intended for it to do.
e.g print(1,000,000)
<Bugs/







Python reserved words:

![image.png]()

## Python Variables, Expressions & Statements

### Dataypes:
*   integers
*   floats
*   strings

To check type of value you are working with: type(<your value>)

### Variables
Variable == name that refers to a value
An assignment statement creates new variables and give them values
Use print statemnet to display value of a variable

Coose variable names that are meaningful and document what the variable is used for.
Do not use keywords as variable names
Variable names are case sensitive

###Statement
Statement == unit of code that the python interpreter can excute
Script == contains sequence of statements

In [ ]:
print(68)
x = 67
print(x)

### Operators and Operands

The special symbols that represent computations
Order of operation depends on the rule of precedence
Python follows PEMDAS (BODMAS?) in the order of operations
Multiplication and Division so as Addition and Subtrationc have the same precedence and are evaluated from left to right.

The '+' in strigs performs concatenation, not the literal addition in maths

In [ ]:
quotient = 17 / 3
print(quotient)
remainder = 17 % 3
print(remainder)

5.666666666666667
2

In [ ]:
x = 'machine' + 'learning'
print(x)

a = '100'
b = 'melons'
print(a + b)

c = 12
d = 24
print (c + d)

e = '12'
d = '24'
print(e +d)

machine
learning
100melons
36
1224

### User input
takes the value for a variable from the user via keyboard.
The built-in function input() does the job

In [ ]:
name = input('What is your name?\n')
print(name)

What is your name?
ml dev
ml dev

In [ ]:
#Quiz: Write a program to prompt the user for hours and rate per hour to
#compute gross pay. Hours: 35 Rate: 2.75 Pay: 96.25

In [ ]:
#Quiz: Write a program which prompts the user for a Celsius temperature,
#convert the temperature to Fahrenheit, and print out the converted temperature.

## Conditional Execution
### Booleans
A boolean expression is an expression that is either true or false.
### Logical operators
They are three: and, or and not. Thye mean their literal english meanings

In [ ]:
#Conditional execution
x = 9
if x > 5:
  print('x is greater than 5')
if type(x) == int:
  print('x is an integer')


#Alternative execution
x = 4
if x % 2 == 0:
  print('x is even')
else:
  print('x is odd')

#Chained conditionals
x = 10
y = 9
if x < y:
  print('x is less than y')
elif x > y:
  print('x is greater than y')
else:
  print('x and y are equal')

#Nested conditionals
x = 10
y = 9
if x == y:
  print('x and y are equal')
else:
  if x < y:
    print('x is less than y')
  else:
    print('x is greater than y')

x is greater than 5
x is an integer
x is even
x is greater than y

In [ ]:
#Quiz:Rewrite your pay computation to give the employee 1.5 times the hourly rate for hours worked above 40 hours.

In [ ]:
Quiz Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error message. If the score is between 0.0 and 1.0,
print a grade using the following table:
Score Grade
>= 0.9 A
>= 0.8 B
>= 0.7 C
>= 0.6 D
< 0.6 F

## Functions
A function is a named sequence of statements that performs a computation. When you define a function, you specify the name and
the sequence of statements. Later, you can “call” the function by name


Type conversion fnctions. From floats to integers


in-built functions and user defined functions

#### Why functions
*   Easy to read, understand and debug programs
*   make programs smaller by eliminating repetitiion
*   divide long programs
*   code reuse

In [ ]:
import math
print(math.sqrt(2))
print(math.pi)

1.4142135623730951
3.141592653589793

In [ ]:
math.cos(math.pi/4)

0.7071067811865476

In [ ]:
import random
for i in range(10):
  x = random.random()
  print(x)

0.4570110258888782
0.7173946283644256
0.4297632316442377
0.5843102606856826
0.283197572494437
0.3694476105069663
0.9963338451754915
0.3074029925965226
0.13785844619376209
0.19928616432486512

In [ ]:
def acceleration(v0, v1, t):
  a = (v1 - v0) / t
  return a

acceleration(0, 100, 2)

50.0

In [ ]:
#Quiz: Rewrite your pay computation with time-and-a-half for overtime and
#create a function called computepay which takes two parameters (hours and rate).

## Iteration

statement that updates a variable, where the new value of the variable depends on the old.

Iteration variable
finite and infinite iterations

### The while loop
flow of execution for a while statement:
1. Evaluate the condition, yielding True or False.
2. If the condition is false, exit the while statement and continue execution at the next statement.
3. If the condition is true, execute the body and then go back to step 1.

In [ ]:
n = 10
while n > 0:
  print(n)
  n = n-1
  print("Lift off")

10
Lift off
9
Lift off
8
Lift off
7
Lift off
6
Lift off
5
Lift off
4
Lift off
3
Lift off
2
Lift off
1
Lift off

In [ ]:
#For loops
tech_stack = ['webdev', 'ml','android','gaming']
for stack in tech_stack:
  print("Which tech stack am I goig to take:", stack)

Which tech stack am I goig to take: webdev
Which tech stack am I goig to take: ml
Which tech stack am I goig to take: android
Which tech stack am I goig to take: gaming

## Strings

A string is a sequence of characters.

In [ ]:
#get a value on a given index
fruit = 'pineapple'
letter = fruit[1]
print(letter)

i

In [ ]:
#get length of  a string
print(len(fruit))
#print last letter of a string
length = len(fruit)
last = fruit[length-1]
print(last)

#string traversal
#loop through a string
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

9
e
0 p
1 i
2 n
3 e
4 a
5 p
6 p
7 l
8 e

## Files

## Lists

A list is a sequence of values, these values can be of any type
Lists are mutable meaning you can change items in it

In [ ]:
#create a list
numbers = ['13','34','67','0.48']
print(numbers)
brands = ['toshiba', 'samsung','asus','acer','mac']
print(brands)

#a list within a list
mixed = ['246','0.349','toshiba',['intel','amd','nvidia','arm']]
print(mixed)

['13', '34', '67', '0.48']
['toshiba', 'samsung', 'asus', 'acer', 'mac']
['246', '0.349', 'toshiba', ['intel', 'amd', 'nvidia', 'arm']]

In [ ]:
#access elements of  alist
print(brands[2])
print(mixed[3])
print(mixed[3][2])

asus
['intel', 'amd', 'nvidia', 'arm']
nvidia

In [ ]:
#change elements of a list
print(brands)
brands[2] = 'dell'
print(brands)

['toshiba', 'samsung', 'asus', 'acer', 'mac']
['toshiba', 'samsung', 'dell', 'acer', 'mac']

In [ ]:
#the 'in' operator on lists
print('hp' in brands)
print('acer' in brands)

False
True

In [ ]:
#traversing a list
#just reading eements of a list
for brand in brands:
  print(brand)

toshiba
samsung
dell
acer
mac

In [ ]:
#update elements of a list
for i in range(len(brands)):
  brands[i] = brands[i] + ' computer'
print(brands)

['toshiba computer', 'samsung computer', 'dell computer', 'acer computer', 'mac computer']

In [ ]:
#concatenation on lists
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
#list slicing
print(brands[1:3])
print(brands[:])

['samsung computer', 'dell computer']
['toshiba computer', 'samsung computer', 'dell computer', 'acer computer', 'mac computer']

In [ ]:
#List methods
#appending
brands.append('hp')
print(brands)

#sort method
#arranges in ascending order(low to high)
brands.sort()
print(brands)

['toshiba computer', 'samsung computer', 'dell computer', 'acer computer', 'mac computer', 'hp']
['acer computer', 'dell computer', 'hp', 'mac computer', 'samsung computer', 'toshiba computer']

In [ ]:
#Deleting elements in a list
#pop modifies the list and returns the element that was removed. If you don't provide na index, it deletes and returns the last element.
brands.pop()
print(brands)

#if you know the element you want to remove but not the index, use remove
brands.remove('dell computer')
print(brands)

#to remove more than one element, use 'del' with a slice index
del brands[0:2]
print(brands)

['acer computer', 'dell computer', 'hp', 'mac computer', 'samsung computer']
['acer computer', 'hp', 'mac computer', 'samsung computer']
['mac computer', 'samsung computer']

In [ ]:
print(max(brands))

samsung computer

In [ ]:
total = 0
count = 0
while (True):
  inp = input('Enter a number: ')
  if inp == 'done': break
  value = float(inp)
  total = total + value
  count = count + 1
average = total / count
print('Average:', average)

Enter a number: 23
Enter a number: 88
Enter a number: 0
Enter a number: 1
Enter a number: done
Average: 28.0

In [ ]:
numlist = list()
while (True):
  inp = input('Enter a number: ')
  if inp == 'done': break
  value = float(inp)
  numlist.append(value)
average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 23
Enter a number: 88
Enter a number: 0
Enter a number: 1
Enter a number: done
Average: 28.0

In [ ]:
fruit = 'pineapple'
my_fruits = list(fruit)
my_fruits

['p', 'i', 'n', 'e', 'a', 'p', 'p', 'l', 'e']

## Dictionaries
 A dictionary is like a list, but a more general one.
 In a list the index positions have to be integers, but in a dictionary the indices can be any type.

 Essentially a dictionary is a mapping between a set of indices (called keys) and  a set of values. Each key maps to a value

 Order of key-value pairs is the same as their input order

 Elements of of  a dictionary are not idexed with integer indices. Instead, we use keys to look up corresponding values

In [ ]:
#english - espanol dictionary
eng2esp = dict()
eng2esp['one'] = 'uno'
print(eng2esp)

{'one': 'uno'}

In [ ]:
eng2esp = {'one' :'uno','two':'dos', 'three': 'tres','four':'cuatro','five':'cinco','six':'seis','seven':'siete','eight':'ocho'}
print(eng2esp)

{'one': 'uno', 'two': 'dos', 'three': 'tres', 'four': 'cuatro', 'five': 'cinco', 'six': 'seis', 'seven': 'siete', 'eight': 'ocho'}

In [ ]:
# Elements of of  a dictionary are not idexed with integer indices. Instead, we use keys to look up corresponding values
print(eng2esp['five'])

cinco

In [ ]:
#length function on dictionaries
len(eng2esp)

5

In [ ]:
#the 'in' operator in dictionaries (check whether something appears as a key in the dict)
print('two' in  eng2esp)

print('ten' in  eng2esp)

True
False

In [ ]:
#check whether somethig appears as a value
vals = list(eng2esp.values())
print('seis' in vals)

True

In [ ]:
#Dictionary as a set of counters

word = 'onomatopoeia'
my_dict = dict()
for count in word:
  if count not in my_dict:
    my_dict[count] = 1
  else:
    my_dict[count] = my_dict[count] + 1
print(my_dict)

{'o': 4, 'n': 1, 'm': 1, 'a': 2, 't': 1, 'p': 1, 'e': 1, 'i': 1}

In [ ]:

# using dictionaries to count number of times a word appears in a text file/ string
poem = """
In the heart of DeKUT, where knowledge takes flight,
Rises a beacon of progress, a radiant light.
Data Science and AI, the club we adore,
Paving new paths, unlocking each door.

From pixels to patterns, we make sense of the scene,
Turning data to wisdom, like code to machine.
With passion and vision, we shape the unknown,
A future of insight, where brilliance is grown.

Algorithms hum softly, in unity they speak,
Solving problems of power, for the bold and the meek.
In fields of wildlife, and crops in the field,
We apply our craft, and results are revealed.

With each mind connected, a network we weave,
Where dreams take form, and knowledge we conceive.
Leaders and learners, we gather as one,
The journey of DSAIC has only begun.

Together we rise, our mission is clear,
To drive innovation, year after year.
At DeKUT we stand, with pride in our hearts,
For DSAIC's brilliance, where greatness starts.
"""

# Convert the poem to lowercase and split into words
words = poem.lower().replace(",", "").replace(".", "").replace("'", "").split()

# Dictionary to hold the count of each word
word_count = {}

# Count occurrences of each word
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print(word_count)

{'in': 5, 'the': 8, 'heart': 1, 'of': 7, 'dekut': 2, 'where': 4, 'knowledge': 2, 'takes': 1, 'flight': 1, 'rises': 1, 'a': 4, 'beacon': 1, 'progress': 1, 'radiant': 1, 'light': 1, 'data': 2, 'science': 1, 'and': 7, 'ai': 1, 'club': 1, 'we': 9, 'adore': 1, 'paving': 1, 'new': 1, 'paths': 1, 'unlocking': 1, 'each': 2, 'door': 1, 'from': 1, 'pixels': 1, 'to': 4, 'patterns': 1, 'make': 1, 'sense': 1, 'scene': 1, 'turning': 1, 'wisdom': 1, 'like': 1, 'code': 1, 'machine': 1, 'with': 3, 'passion': 1, 'vision': 1, 'shape': 1, 'unknown': 1, 'future': 1, 'insight': 1, 'brilliance': 2, 'is': 2, 'grown': 1, 'algorithms': 1, 'hum': 1, 'softly': 1, 'unity': 1, 'they': 1, 'speak': 1, 'solving': 1, 'problems': 1, 'power': 1, 'for': 2, 'bold': 1, 'meek': 1, 'fields': 1, 'wildlife': 1, 'crops': 1, 'field': 1, 'apply': 1, 'our': 3, 'craft': 1, 'results': 1, 'are': 1, 'revealed': 1, 'mind': 1, 'connected': 1, 'network': 1, 'weave': 1, 'dreams': 1, 'take': 1, 'form': 1, 'conceive': 1, 'leaders': 1, 'learners': 1, 'gather': 1, 'as': 1, 'one': 1, 'journey': 1, 'dsaic': 1, 'has': 1, 'only': 1, 'begun': 1, 'together': 1, 'rise': 1, 'mission': 1, 'clear': 1, 'drive': 1, 'innovation': 1, 'year': 2, 'after': 1, 'at': 1, 'stand': 1, 'pride': 1, 'hearts': 1, 'dsaics': 1, 'greatness': 1, 'starts': 1}

In [ ]:
# Sort the dictionary by word count (values) in descending order
sorted_word_count = sorted(word_count.items(), key=lambda x: x[1], reverse=True)

# Print the sorted word count
for word, count in sorted_word_count:
    print(f"'{word}': {count}")

'we': 9
'the': 8
'of': 7
'and': 7
'in': 5
'where': 4
'a': 4
'to': 4
'with': 3
'our': 3
'dekut': 2
'knowledge': 2
'data': 2
'each': 2
'brilliance': 2
'is': 2
'for': 2
'year': 2
'heart': 1
'takes': 1
'flight': 1
'rises': 1
'beacon': 1
'progress': 1
'radiant': 1
'light': 1
'science': 1
'ai': 1
'club': 1
'adore': 1
'paving': 1
'new': 1
'paths': 1
'unlocking': 1
'door': 1
'from': 1
'pixels': 1
'patterns': 1
'make': 1
'sense': 1
'scene': 1
'turning': 1
'wisdom': 1
'like': 1
'code': 1
'machine': 1
'passion': 1
'vision': 1
'shape': 1
'unknown': 1
'future': 1
'insight': 1
'grown': 1
'algorithms': 1
'hum': 1
'softly': 1
'unity': 1
'they': 1
'speak': 1
'solving': 1
'problems': 1
'power': 1
'bold': 1
'meek': 1
'fields': 1
'wildlife': 1
'crops': 1
'field': 1
'apply': 1
'craft': 1
'results': 1
'are': 1
'revealed': 1
'mind': 1
'connected': 1
'network': 1
'weave': 1
'dreams': 1
'take': 1
'form': 1
'conceive': 1
'leaders': 1
'learners': 1
'gather': 1
'as': 1
'one': 1
'journey': 1
'dsaic': 1
'has': 1
'only': 1
'begun': 1
'together': 1
'rise': 1
'mission': 1
'clear': 1
'drive': 1
'innovation': 1
'after': 1
'at': 1
'stand': 1
'pride': 1
'hearts': 1
'dsaics': 1
'greatness': 1
'starts': 1

In [ ]:
# Count occurrences of a specific word using get method
word_to_count = "of"
print(word_count.get(word_to_count))
#print(f"The word '{word_to_count}' appears {word_count.get(word_to_count, 0)} times in the poem.")

7
The word 'of' appears 7 times in the poem.

## Tuples
Tuples are much like lists(sequencce of values of any type indexed by integers) with a key difference that they are immutable (i.e you cannot change/modify elements of a tuple)


### Dictionaries and tuples

In [ ]:
companies = ('nvidia','samsung','apple','google','microsoft','meeta','safaricom','amazon')
print(companies)

('nvidia', 'samsung', 'apple', 'google', 'microsoft', 'meeta', 'safaricom', 'amazon')


### Dictionaries and tuples
Dictionaries have a method called items that returns a list of tuples, where each tuple is a key-value pair.